<div class="post-list">
    <% posts.forEach((post, index) => { %>
        <!-- 각 게시물에 대한 항목 -->
        <div class="post-item">
            <!-- 게시물 제목 -->
            <h2><%= post.title %></h2>
            <!-- 게시물 내용 -->
            <p><%= post.content %></p>
            <!-- 게시물 작성일 -->
            <p>작성일: <%= new Date(post.createdAt).toLocaleDateString('ko-KR', { year: 'numeric', month: '2-digit', day: '2-digit' }).replace(/\./g, '.') %></p>
        </div>
    <% }) %>
</div>




