<article class="article">
    <h1><%= post.title %></h1>
    <%= post.body %>
    <p>추천 수: <span id="recommendCount"><%= post.recommendations %></span></p>
    <button id="recommendButton">추천</button>
</article>
