<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>게시물 목록</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>게시물 목록</h1>
    <ul>
        <% posts.forEach(function(post) { %>
            <li>
                <a href="/board/view/<%= post.id %>"><%= post.title %></a>
                <p>작성자: <%= post.authorName %></p> <!-- 작성자 이름 표시 -->
                <p>추천: <%= post.recommend %></p>
            </li>
        <% }); %>
    </ul>
    <a href="/board/create">게시물 작성</a>
</body>
</html>
