<!-- signup.html -->
<!DOCTYPE html>
<html lang="ko">
<head>
    <title>Sign Up</title>
</head>
<body>
    <h1>Sign up</h1>
    <p>Let's get you all st up so you can access your personal account.</p>
    <form action="/board/sign-up", method="post">
        <div class="row g-3">
            <div class="col">
                <input type="text" class="form-control" placeholder="First name" aria-label="First name" name="fName">
                <input type="text" class="form-control" placeholder="Last name" aria-label="Last name" name="lName">
            </div>
            <div class="col">
                <input type="email" class="form-control" placeholder="Email" aria-label="Email" name="email">
                <input type="tel" class="form-control" placeholder="Phone Number (-제외)" aria-label="Phone Number (-제외)" pattern="[0-9]{3}[0-9]{4}[0-9]{4}" name="phone">
            </div>
            <input type="password" class="form-control" placeholder="Password" aria-label="Password" name="psw">
            <input type="password" class="form-control" placeholder="Confirm Password" aria-label="Password" name="cPsw">
            <div class="col">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <p>I agree to all the <a href="">Terms</a> and <a href="">Privacy Policies</a></p>
            </div>
            <button type="submit" class="btn btn-primary">Create account</button>
            <p>Already have an acount? <a href="/board/login">Login</a> </p>
        </div>
    </form>
</body>
</html>