<!DOCTYPE html>
<html lang="ko">
<head>
    <title>Sign Up</title>
</head>
<body>
    <h1>Sign up</h1>
    <p>Let's get you all set up so you can access your personal account.</p>
    <form action="/signup", method="post">
        <div class="row g-3">
            <div class="col">
                <input type="text" class="form-control" placeholder="User ID" aria-label="User ID" name="userid">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Username" aria-label="Username" name="username">
            </div>
            <input type="password" class="form-control" placeholder="Password" aria-label="Password" name="password">
            <input type="password" class="form-control" placeholder="Confirm Password" aria-label="Confirm Password" name="confirmPassword">
            <div class="col">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <p>I agree to all the <a href="">Terms</a> and <a href="">Privacy Policies</a></p>
            </div>
            <button type="submit" class="btn btn-primary">Create account</button>
            <p>Already have an account? <a href="/login">Login</a> </p>
        </div>
    </form>
</body>
</html>
