@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

:root {
  --black: #1c1c1c;
  --gray: #7E7E7E;
  --gray-light: #E4E4E4;
  --red: #b30000;
  --font-size-base: 1rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.5rem;
  --font-size-xl: 2rem;
  --border-radius: 10px;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  color: var(--black);
  font-size: var(--font-size-base);
  background-color: rgb(236, 235, 234);
  margin: 0;
}

a { color: var(--black); }
h1 { font-size: var(--font-size-xl); }
h2 { font-size: var(--font-size-lg); }
h3 { font-size: var(--font-size-md); }

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
select,
textarea {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1rem;
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 0.7rem 0.75rem;
  margin-bottom: 1rem;
}

.btn {
  background-color: var(--black);
  border: none;
  color: white; 
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px; 
  cursor: pointer;
}

.btn-delete {
  padding: 10px 16px;
  background-color: var(--red);
}


img {
  width: 100%;
  height: auto;
}

/* 레이아웃 */
.container {
  max-width: 982px;
  margin: 0 auto;
  padding: 0 10px;
}

.main {
  padding: 20px 0;
}

/* 히어로 이미지 표시 부분 */
.hero-image {
  max-height: 528px;
  filter: drop-shadow(0px 44px 34px rgba(0, 0, 0, 0.25));
  overflow: hidden;
  border-radius: var(--border-radius);
}


/* 메인 헤더 */
.header {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
  "logo button"
  "menu menu";
  padding-top: 10px;
}

@media only screen and (min-width: 768px) {
  .header {
    grid-template-columns: auto 1fr auto;
    grid-template-areas: 
    "logo menu button";
  }
}

.header-logo {
  font-weight: 800;
  font-size: 25px;
  text-decoration: none;
  grid-area: logo;
}

.header-logo:hover {
  text-decoration: underline;
}

.header-nav {
  justify-content: center;
  display: flex;
  grid-area: menu;
}

.header-logo, .header-nav, .header-button {
  width: 100%;
}

.header-button {
  display: flex;
  justify-content: end;
  grid-area: button;
}

.header-button button {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  border: 0;
  padding: 6px 12px;
  background: none;
  border-radius: 10px;
  border: 2px solid transparent;
  font-size: 1rem;
  font-weight: 600;
  color: var(--black);
}

.header-button button:hover {
  border: 2px solid var(--black);
}

/* 헤더의 내비게이션 */
.header-nav ul {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  font-weight: 600;
  padding: 0;
}

.header-nav ul a {
  padding: 10px;
  text-decoration: none;
}

.header-nav ul a.active {
  color: rgb(126, 126, 126);
}

.header-nav ul a:hover {
  text-decoration: underline;
}

/* 상단 텍스트 - HomePage */
.top {
  padding: 10px 0;
  text-align: center;
}

.top-heading {
  margin-top: 10px;
  margin-bottom: 5px;
}

.top-body {
  font-size: var(--font-size-md);
  margin: 5px 0 40px 0;
}


/* 게시물 테이블 스타일 */
/* 게시물 테이블 스타일 */
.article-table {
  width: 100%;
  border-collapse: collapse;
}

.article-table th,
.article-table td {
  border: 1px solid #dddddd;
  padding: 12px;
  text-align: center;
}

/* 번호, 제목, 작성자, 조회수, 작성일 */
.article-table th {
  font-size: 1.4rem;
}

.article-table td {
  font-size: 1.2rem;
}

/* 번호, 조회수, 작성일의 너비 조정 */
.article-table th:nth-child(1),
.article-table td:nth-child(1),
.article-table th:nth-child(4),
.article-table td:nth-child(4),
.article-table th:nth-child(5),
.article-table td:nth-child(5) {
  width: 15%;
}

/* 제목과 작성자의 너비 조정 */
.article-table th:nth-child(2),
.article-table td:nth-child(2),
.article-table th:nth-child(3),
.article-table td:nth-child(3) {
  width: 35%;
}
.actions-container {
  display: flex;
  align-items: center; /* 요소들을 세로 중앙 정렬 */
}

.btn {
  margin-right: 10px; /* 글 작성 버튼과 검색 폼 사이 간격 조절 */
}

.search-form {
  display: flex;
  align-items: center; /* 검색 폼을 세로 중앙 정렬 */
}

.search-form input[type="text"] {
  margin-right: 5px; /* 입력 필드와 버튼 사이 간격 조절 */
}

.pagination {
  font-size: 1.3rem;
  color: var(--gray);
  text-decoration: none;
  margin-top: 40px;
  display: inline-block;
}

.pagination:hover {
  color: var(--black);
}


/* 푸터 */
.footer {
  margin: 4rem;
  text-align: center;
}
